<div>
  <mat-form-field>
    <mat-select placeholder="お問い合わせ項目">
      <mat-option *ngFor="let d of departments" [value]="d.value">{{d.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="example-form">
  <mat-form-field>
    <input matInput placeholder="お名前">
  </mat-form-field>
</div>

<div>
    <mat-radio-group>
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
    </mat-radio-group>
</div>
<div class="example-form-long">
  <mat-form-field>
    <input matInput placeholder="住所">
  </mat-form-field>
</div>
<div class="example-form-long">
    <mat-form-field>
      <textarea matInput placeholder="問い合わせ内容"></textarea>
    </mat-form-field>
</div>
<br>
<div>
    <mat-checkbox>
      個人情報の取り扱いについて同意する
    </mat-checkbox>
</div>

<button mat-raised-button color="accent">
    送信
</button>
<!--<div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <p>メインコンテンツメインコンテンツメインコンテンツメインコンテンツメインコンテンツ</p>
    <p class="p-right">メインコンテンツメインコンテンツメインコンテンツメインコンテンツメインコンテンツ</p>-->