/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.menu-spacer {
    flex: 1 1 auto;
  }
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  .Sidenav{
      padding-right: 10px;
      padding-left: 10px;
  }
  .p-right{
    text-align: right;
  }